<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/feeds.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>
<body>
    <%-include('_header');%>
    <%-body%>
    <%-include('_footer');%>

    <script>
        <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'bootstrap-v4',
                text: "<%= flash.success %>",                     
                type: 'success',                                // notification properties for success
                layout: 'topLeft',
                timeout: 1000
                
            }).show();    
        <%} %>
        <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.error %>",                                     
                type: 'error',                                   //notification properties for error or failure
                layout: 'topLeft',
                timeout: 1500
                
            }).show();    
        <%} %>
    </script>
</body>
</html>